<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization Test Suite">
	<test name="Testing firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="test.multiBrowserParallelTest.MultiBrowser" />
		</classes>
	</test>

	<test name="Testing chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="test.multiBrowserParallelTest.MultiBrowser" />
		</classes>
	</test>
</suite>
